{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/follow.css' %}">
	<!-- Bootstrap CSS -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

	<style>
		.profile-head {
			transform: translateY(5rem)
		}

		.cover {
			background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
			background-size: cover;
			background-repeat: no-repeat
		}

		body {
			background: #654ea3;
			background: linear-gradient(to right, #e96443, #904e95);
			min-height: 100vh;
			overflow-x: hidden;
		}
	</style>
</head>

<body>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row py-5 px-4">
			<div class="col-md-5 mx-auto">
				<!-- Profile widget -->
				<div class="bg-white shadow rounded overflow-hidden">
					<div class="px-4 pt-0 pb-4 cover">
						<div class="media align-items-end profile-head">
							{% if request.user.Profile %}
							<div class="profile mr-3">
								<img src="{{ user.Profile.profile_picture.url }}" alt="..."width="130" class="rounded mb-2 img-thumbnail">
									<button><a href="{% url 'EditBio' request.user.Profile.id %}"
									class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></button></div>
							<div class="media-body mb-5 text-white">
								<h4 class="mt-0 mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
								<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@{{user.username}}</p>
							</div>
							{% else %}
							<div class="profile mr-3"><img
									src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1-744x744.jpg"
									width="130" class="rounded mb-2 img-thumbnail">
								<input id="file-input" type="file" name="{{ form.profile_picture.html_name }}">
							</div>
							<div class="media-body mb-5 text-white">
								<h4 class="mt-0 mb-0">{{ user.first_name }} {{ user.last_name }}</h4>
								<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@{{user.username}}</p>
							</div>
							{% endif %}
						</div>
					</div>
					<div class="bg-light p-4 d-flex justify-content-end text-center">
						
<button type="button" class="button">
	<span class="button__text">Follow</span>
	<span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span><a href="{% url 'follow' i.id % }"></a>
  </button>
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i
										class="fas fa-image mr-1"></i>Photos</small>
							</li>
							<li class="list-inline-item">
								<h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i
										class="fas fa-user mr-1"></i>Followers</small>
							</li>
							<li class="list-inline-item">
								<h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i
										class="fas fa-user mr-1"></i>Following</small>
							</li>
						</ul>
					</div>
					<div class="px-4 py-3">
						<h5 class="mb-0">About</h5>
						{% if user.Profile %}
						<div class="p-4 rounded shadow-sm bg-light">
							<p class="font-italic mb-0">{{ user.Profile.bio }}</p>
							<p class="font-italic mb-0"> {{ user.Profile.user_name }}</p>
							<p class="font-italic mb-0">{{ user.Profile.gender }}</p>
						</div>
						{% else %}
						<div class="p-4 rounded shadow-sm bg-light">
							{{ form.bio }}
						</div>
						<button class="btn btn-outline-dark btn-sm btn-block" type="submit">Add Bio</button>
						{% endif %}
					</div>
	</form>

					<div class="py-4 px-4">
						<div class="d-flex align-items-center justify-content-between mb-3">
							<h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
						</div>
						{% for i in posts %}
						<div class="row">
							<!-- {{ i.Image.url }} -->
							<!-- <div class="col"><img src="{{ i.Image.url }}" class="header-avatar" alt="" height="100px" width="200px"></div> -->
							<div class="col-lg-6 mb-2 pl-lg-1"><img
									src=" {{ i.Image.url }}"
									alt="" class="img-fluid rounded shadow-sm"></div>
							<!-- <div class="col-lg-6 pr-lg-1 mb-2"><img
									src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
									alt="" class="img-fluid rounded shadow-sm"></div>
							<div class="col-lg-6 pl-lg-1"><img
									src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
									alt="" class="img-fluid rounded shadow-sm"></div> -->
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

</body>

</html>