{% load static %}
<!doctype html>
<html lang="en">

<head>
	<title>Title</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'css/follow.css' %}">
	<!-- Bootstrap CSS -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

	<style>
		.profile-head {
			transform: translateY(5rem)
		}

		.cover {
			background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
			background-size: cover;
			background-repeat: no-repeat
		}

		body {
			background: #654ea3;
			background: linear-gradient(to right, #e96443, #904e95);
			min-height: 100vh;
			overflow-x: hidden;
		}
	</style>
</head>

<body>

	<!-- <a href="{% url 'favv' %}">fav</a> -->
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
						
		<div class="row py-5 px-4">
			<div class="col-md-5 mx-auto">
				<?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
				<a href=""><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z" fill="#000000"/>
				</svg></a>
				<!-- Profile widget -->
				<div class="bg-white shadow rounded overflow-hidden">
					<div class="px-4 pt-0 pb-4 cover">
						<div class="media align-items-end profile-head">
							
							
							
							<div class="profile mr-3">
								
									</div>
							<div class="media-body mb-5 text-white">
								<h4 class="mt-0 mb-0"></h4>
								<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@{{pro.user}}</p>
							</div>
							
							<div class="profile mr-3"><img
									src="{{pro.profile_picture.url}}"
									width="130" class="rounded mb-2 img-thumbnail">
								<input id="file-input" type="file" name="">
							</div>
							<div class="media-body mb-5 text-white">
								<h4 class="mt-0 mb-0"></h4>
								<p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i></p>
							</div>
							
						</div>
					</div>
					
					<div class="bg-light p-4 d-flex justify-content-end text-center">
						
					
                                        
						
						<button type="button" class="button" style="width: 60px;border-style:ridge;">
							<a href="">Follow</a>
						  </button>
						
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								
								<h5 class="font-weight-bold mb-0 d-block"></h5>
								<small class="text-muted">
									 <i
										class="fas fa-image mr-1"></i>Photos</small>
							</li>
							<li class="list-inline-item">
								<h5 class="font-weight-bold mb-0 d-block"> </h5><small class="text-muted"> <i
										class="fas fa-user mr-1"></i>Followers</small>
							</li>
							<li class="list-inline-item">
								<h5 class="font-weight-bold mb-0 d-block"> </h5><small class="text-muted"> <i
										class="fas fa-user mr-1"></i>Following</small>
							</li>
						</ul>
						
					</div>
					<div class="px-4 py-3">
						<h5 class="mb-0">About</h5>
						
						<div class="p-4 rounded shadow-sm bg-light">

							<p class="font-italic mb-0">{{pro.bio}}</p>
							<p class="font-italic mb-0"> </p>
							<p class="font-italic mb-0"></p>
						</div>
						
						<div class="p-4 rounded shadow-sm bg-light">
							
						</div>
						<button class="btn btn-outline-dark btn-sm btn-block" type="submit">Add Bio</button>
						
					</div>
	</form>

					<div class="py-4 px-4">
						<div class="d-flex align-items-center justify-content-between mb-3">
							<h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
						</div>
					
						{% for i in post %}
		
		
		
						<div class="row">
							<div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
							  <img
								src="{{i.Image.url}}"
								class="w-100 shadow-1-strong rounded mb-4"
								alt="Boat on Calm Water"
							  />
							  {{i.caption}}
						</div>
						
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

</body>

</html>